.button {
    border: 1px solid var(--highlight_1);
    width: 45%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    background-color: var(--highlight_1);
}

:root {
    --primary: #FEFCED;
    --secondary: #FAF2B5;
    --tertiary: #F0D200;
    --highlight_1: #E2B2FF;
    --hightlight_2: #A767FF;
}

body {
    background-color: var(--primary);
    margin: 0px;
}

.title {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    font-weight: 700;
    text-decoration: underline overline dotted;
}

.checklist_container {
    background-color: var(--secondary);
    border-radius: 20px;
    box-shadow: 5px 0px 10px -5px var(--highlight_1);
    padding: 10px 5px;
}

.checklist_parent {
    margin: 5px 25px;
}

.checklist-today-header {
    font-weight: 300;
    text-align: center;
    padding: none;
    font-size: 30px;
    text-decoration: underline dotted;
}

.button:hover {
    background-color: var(--hightlight_2);
}

.add_a_checklist_item {
    display: none;
    flex-direction: column;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.main-body-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.entry-container {
    flex: 60%;
}

.checklist-side-container {
    flex: 15%;
    margin: 5px 20px;
}